<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <interactiveMode>false</interactiveMode>
    <localRepository>/home/tomcat/.m2/repository</localRepository>
    <servers>
        <server>
            <id>nexus.public</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
        <server>
            <id>nexus.ext-release-local</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
        <server>
            <id>nexus.ext-snapshot-local</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
        <server>
            <id>libs-release-local</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
        <server>
            <id>nexus.libs-release-local</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
        <server>
            <id>nexus.libs-snapshot-local</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
            <server>
            <id>nexus.plugins-release-local</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
        <server>
            <id>nexus.plugins-snapshot-local</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
             <server>
            <id>nexus.releases</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
        <server>
            <id>nexus.snapshots</id>
            <username>deployment</username>
            <password>{DRxXXglgb3cH4eelRYd2CnToycYsdhMRyQ3h+E+45jU=}</password>
        </server>
    </servers>
</settings>
